<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Usuarios" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->




<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Datatable Official Docs</h4>
        <button class="btn btn-primary" routerLink="/comments/create"><i class="ri-add-fill"></i>Add New</button>
      </div><!-- end card header -->
      <div class="card-body" *ngIf="dataLoaded"> <!-- Mostramos la tabla solo cuando los datos estén cargados -->
        <table datatable [dtOptions]="dtOptions" class="row-border hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Body</th>
              <th>PostId</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            @for(data of commentsList;track $index){
            <tr>
              <td>{{ data.id }}</td>
              <td>{{ data.body }}</td>
              <td>{{ data.postId }}</td>
              <td>
                <div class="dropdown" ngbDropdown>
                  <button class="btn btn-soft-secondary btn-sm dropdown arrow-none" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                    <i class="ri-more-fill align-middle"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                    <!-- <li><a class="dropdown-item" routerLink="/invoices/details"><i
                          class="ri-eye-fill align-bottom me-2 text-muted"></i>
                        View</a></li> -->
                    <!-- <li>
                      <a class="dropdown-item" routerLink="/comments/details/{{data.id}}">
                        <i class="ri-pencil-fill align-bottom me-2 text-muted"></i> Edit</a>
                    </li> -->
                    <li><a class="dropdown-item" href="javascript:void(0);"><i
                          class="ri-download-2-line align-bottom me-2 text-muted"></i>
                        Download</a></li>
                    <li class="dropdown-divider"></li>
                    <li>
                      <a class="dropdown-item remove-item-btn" data-bs-toggle="modal">
                        <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>
                        Delete
                      </a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div><!--end col-->
</div><!--end row-->
